<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Help page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font: 16px arial, sans-serif;
            }            
            h3 {
                font: 20px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>  
    </head>
    <body>
        <div>
            <h3>Client management: Help</h3>
            <h4>General description</h4>
            <p>This window allows you to perform basic maintenance operations 
                of the user data. The user may, by means of the controls
                controls available in the window to create, modify and delete the users of the application. 
                the application. The user can also generate a report containing a list of the users with their corresponding data. 
                of the users with their corresponding data.</p>
            <h4>Operations</h4>
            <strong>Create clients</strong>
            <p>To create a user, click on the icon at the top left of the table, this will create a new user with default values.</p>
            <strong>Modify client data</strong>
            <p>To modify the data of a client you must double click on one of the cells, this way the edit mode will be enabled, 
                with the edit mode enabled you only have to write the value you want, once you finish modifying the cell, in case you want to save 
                the changes just press the <strong>enter</strong> key, on the contrary in case you want to cancel it press the <strong>escape</strong> key.</p>
            <strong>Delete clients</strong>
            <p>To delete a client you only have to right click on the user you want to delete, this will open a contextual menu with only one option, which is to delete, 
                once clicked you will be asked for confirmation to delete the selected client, if you cancel no change will be made, on the contrary if you accept, 
                the user will be deleted.</p>
            <strong>Filters</strong>
            <p>You have some options for filtering customers, first you can type in the search bar the username, email or full name of the customer to search, 
                this will show in the table all customers whose data match the specified search value, you can also use a filter, 
                on the right side of the search button you have a filter button with two options, <strong>enabled</strong> and <strong>disabled</strong>, 
                clicking on any of these will show in the table all customers with the specified filter. </p>
            <strong>Print list of clients</strong>
            <p>Pressing the <strong>Print</strong> button, located at the top right corner of the table, will open a window 
                where you can view a document containing a list of the users that exist in the application:<br>
                Using the buttons at the top of the window, you can print or save the report.</p>
            <strong>Menu</strong>
            <p>You can navigate between the different administrator windows using the menu on the left side of the window, 
                simply click on the window you want to go to.</p>
            <p>You can also Log out simply by clicking the "Log Out" button at the left bottom corner of the window</p>
            <strong>Close</strong>
            <p>Pressing the button "X" at the top right corner you can close the app, 
                by clicking it will open a window to confirm wether you are sure if you want to close the app or not, 
                if you accept the app will close and if you cancel the app will continue working normally</p>
            <strong>Help</strong>
            <p>Pressing the button <strong>Help</strong>, located next to the windows title, you will see this help document.</p>
        </div>
    </body>
</html>
