<!DOCTYPE html>
<html>
    <head>
        <title>Diet Help Window</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font: 16px arial, sans-serif;
            }            
            h3 {
                font: 20px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>  
    </head>
    <body>
        <div>
            <h3>Diet Management: Help</h3>
            <img src="../resources/diet_management_window.png" alt="image" height="475" width="770">
            <h4>General Description</h4>
            <p>This window is used to perform basic maintenance operations on the diet data. 
                The administrator can use the controls available in the window to create, modify and delete the diets from the application. 
                He can also generate a report containing a list of the diets with their corresponding data.</p>
            <h4>Operations</h4>
            <strong>Open windows</strong>
            <p>To open the windows, click on the corresponding button in the application's side menu.</p>
            <strong>Create Diets</strong>
            <p>To create a new diet, click on the icon &nbsp;&nbsp;&nbsp;<img src="../resources/insert_enabled.png" alt="createDiet">&nbsp;&nbsp;&nbsp;above the table on the left side in the main window.</p>
            <strong>Update Diets</strong>
            <p>To update an existing diet, double click on the cell to edit in the table. Fill the fields and press the <strong>ENTER</strong> key to save the changes.
            If you want to cancel the update, just type the <strong>ESC</strong> key.</p>
            <strong>Delete diets</strong>
            <p>To delete an existing diet, right click on the diet you want to delete within the table,
                a menu with a <strong>Delete</strong> button will be displayed, finally click the button.
                Confirmation will be requested before deleting the record.</p>
            <strong>Read Diets</strong>
            <p>To see the existing diets, if any, just enter the window and they will be displayed in the table.
                In case there are no records, you have to create them. Read article <strong>Create Diets</strong> for more info.</p>
            <strong>Filter diets by goal</strong>
            <p>To filter diets by a target, click on the <strong>Filters</strong> button in the main window, then a menu will pop up, 
                where you will have a box with several options. Finally click on the <strong>OK</strong> button and the records will be filtered automatically.</p>
            <strong>Filter diets by name</strong>
            <p>To filter diets by a name, click in the text field at the top of the main window and type the name of the record. 
                Press the <strong>ENTER</strong> key or click the <strong>Search</strong> button next to the text field to have the records filtered automatically
                If you want to cancel this filter just leave the text field blank and press the <strong>ENTER</strong> key or click the <strong>Search</strong> button.</p>
            <strong>Logout</strong>
            <p>To logout, click on the <strong>Logout</strong> button nexr to to the icon &nbsp;&nbsp;&nbsp;<img src="../resources/logout_icon_black.png" alt="createDiet" height="35" width="35">&nbsp;&nbsp;&nbsp;  at the bottom left of the window. Confirmation will be requested before log out.</p>
            <strong>Create report of diets</strong>
            <p>To create a log report, click on the file icon &nbsp;&nbsp;&nbsp;<img src="../resources/icon_report.png" alt="" height="25" width="25">&nbsp;&nbsp;&nbsp; on the right side of the window. The report will be automatically generated.<br><br>
                <strong>Exit App</strong>
            <p>To exit the app, click on the X icon in the upper right corner of the window. Confirmation will be requested before exitting the app.</p>
            <strong>Help</strong>
            <p>Click on the icon &nbsp;&nbsp;&nbsp;<img src="../resources/help_icon.png" alt="" height="25" width="25">&nbsp;&nbsp;&nbsp;  on the upper left side of the window.</p>
        </div>
    </body>
</html>
