<!DOCTYPE html>
<html>
    <head>
        <title>Diet Help Window</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font: 16px arial, sans-serif;
            }            
            h3 {
                font: 20px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>  
    </head>
    <body>
        <div>
            <h3>Diet Management: Help</h3>
            <img src="../resources/diet_window.png" alt="image" height="475" width="770">
            <h4>General Description</h4>
            <p>This window is used to visualize all the data from one diet.</p>
            <h4>Operations</h4>
            <strong>Open windows</strong>
            <p>To open the windows, click on the corresponding button in the application's side menu.</p>
            <strong>Logout</strong>
            <p>To logout, click on the <strong>User</strong> button next to to the icon &nbsp;&nbsp;&nbsp;<img src="../resources/user_arrow_icon_black.png" alt="" height="35" width="35">&nbsp;&nbsp;&nbsp;  at the bottom left of the window, later a menu will be displayed and click <strong>Log out</strong> button. Confirmation will be requested before log out.</p>
            <strong>Modify User</strong>
            <p>To Modify User, click on the <strong>User</strong> button next to to the icon &nbsp;&nbsp;&nbsp;<img src="../resources/user_arrow_icon_black.png" alt="" height="35" width="35">&nbsp;&nbsp;&nbsp;  at the bottom left of the window, later a menu will be displayed and click <strong>Profile</strong> button.</p>
            <strong>Exit App</strong>
            <p>To exit the app, click on the X icon in the upper right corner of the window. Confirmation will be requested before exitting the app.</p>
            <strong>Help</strong>
            <p>Click on the icon &nbsp;&nbsp;&nbsp;<img src="../resources/help_icon.png" alt="" height="25" width="25">&nbsp;&nbsp;&nbsp;  on the upper left side of the window.</p>
        </div>
    </body>
</html>
