<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Help page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font: 16px arial, sans-serif;
            }            
            h3 {
                font: 20px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>    
    </head>
    <body>
        <div>
            <h3>Ingredient Management Help</h3>
            <img src="../resources/IngredientWindowController.png" width="770" height="475" alt="Plate management window."/>
            <h4>Overview</h4>
            <p>This window allows you to perform maintenance operations
            Basic ingredient data. The user will be able to use the controls
            available in the Create, modify and delete the entries window of
            the application. You can also generate a report containing a list
            of the ingredients with their corresponding data.</p>
            <h4>Operations</h4>
            <strong>Create ingredients</strong>
            <p>To create an ingredient you must enter the name of the ingredient in the input fields
            Corresponding. You must also select the type of food from the ingredient and select
            If it is in season or not, and you must put the percentage of water of the ingredient.
            Once the above actions have been done, you must press the <strong>Create</strong> button
            to create the ingredient. If no error occurs, the ingredient will be created and appear in the
            Table of ingredients displayed in the window.</p>
            <strong>Modify ingredient data</strong>
            <p>To modify the data of an ingredient you must first select the ingredient
            by clicking on the desired row of the table of ingredients. The fields in the table are selectable and
            will be modified in the same table. If no error occurs, the data will be modified
            of the ingredient and the updated ingredient data will appear in the table of ingredients that will be
            Display in the window.</p>
            <strong>Remove ingredients</strong>
            <p>To remove an ingredient you must select the ingredient to delete
            by clicking on the desired row of the table of ingredients. Next, a pop-up button will come out and
            Once pressed, and you will be asked for confirmation to remove the ingredient.
            If you confirm the deletion and no error occurs, the ingredient will be removed and updated
            The table of ingredients displayed in the window.</p>
            <strong>Print ingredient list</strong>
            <p>Pressing the button <strong>Print</strong> that is located at the top right of the table, a window will open where you can see a document
            which contains a list of the ingredients that exist in the application.
            Using the buttons at the top of the window, you can print or store this report.</p>
            <strong>Quit the app</strong>
            <p>Pressing the <strong>Exit</strong> button will close the application.</p>
            <strong>help</strong>
            <p>By clicking the <strong>Help</strong> button you will see this help document.</p>
        </div>
    </body>
</html>
