<!DOCTYPE html>
<html>
    <head>
        <title>Plate control help page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font: 16px arial, sans-serif;
            }            
            h3 {
                font: 20px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>    
    </head>
    <body>
        <div>
            <h3>Plate Management Help</h3>
            <img src="PlateManagement.png" alt="Plate management window."/>
            <h4>General description</h4>
            <p>This window allows the management of the plates data. This includes creating a new plate, modifying it, deleting 
                it and performing filtered searches. You can also generate a report with a resume of the plates data.</p>
            <h4>Operations</h4>
            <strong>Create a plate</strong>
            <p>To create a plate, click on the add new row button. If no error occurs, an empty plate will be created ready to 
                be modified.</p><br/>
            <img src="AddRow.png" alt="Add row button."/><br><br>
            <strong>Modify plate data</strong>
            <p>To modify the data of a plate, double click on the corresponding cell, this will enable the edit mode. For the 
                name and nutritional values, type the desired data and then press enter. To cancel you must press esc; the meal 
                type cell displays a list with the different options; to indicate that a plate is vegetarian you will have to 
                check the checkbox.To insert an image in a plate, click on the <strong>Choose image</strong> button. This will 
                open a file selector, you must choose the image you want. If the modified field is correctly typed and no error 
                occurs, the plate information will be modified.</p>
            <strong>Delete plate</strong>
            <p>To delete a plate, right click on the row of the one to be removed and select the <strong>Delete</strong> option 
                that will appear on the screen. Once this is done, a confirmation window will appear: click <strong>Confirm</strong> 
                to delete the dish or <strong>Cancel</strong> to cancel it. If it is confirmed and no error occurs, the plate will be 
                removed.</p><br/>
            <img src="DeleteButton.png" alt="Delete button."/><br><br>
            <strong>Search bar and filters</strong>
            <p>You can search by name entering it in the search bar. You can also filter vegetarian plates,by the meal type they 
                are and/or by the food type of the ingredients that a plate contains. To do this you will need to click on the 
                <strong>Filters</strong> button and mark the checkbox if you want them to be vegetarian, choose the meal type and 
                the food type the ingredients are in the corresponding lists. It is not necessary to enter all the fields, if any 
                are left blank they will not be taken into account and if all the filters are left blank all the plates will be 
                shown. If there are filters entered the search by name will only search among the filtered plates.</p>
            <strong>Report</strong>
            <p>Clicking the print button will open a window where you can view a document containing a list of the plates that 
                exist in the application.<br>
                <img src="ReportButton.png" alt="Report button."/>
                <img src="ReportWindow.png" alt="Report window"/><br><br>
            Using the buttons on the top of the window, you can print or save the report.</p>
            <strong>Help</strong>
            <p>Clicking the help button will show this document.</p>
            <strong>Close the application</strong>
            <p>Pressing the <strong>X</strong> a confirmation window will appear: click <strong>Confirm</strong> 
                to close the app or <strong>Cancel</strong> to do nothing.</p>
            <strong>Log Out</strong>
            <p>Pressing the <strong>Log Out</strong> button a confirmation window will appear: click <strong>Confirm</strong> 
                to go back to the Sign In window or <strong>Cancel</strong> to do nothing.</p>
        </div>
    </body>
</html>
