#buttonSignIn {
	-fx-background-color:  #15B7B9;
	-fx-background-radius: 5px;
	-fx-text-fill: #ffffff;
	-fx-font-family: rockwell;
	-fx-font-size: 18px;
	-fx-pref-width: 300px;
	-fx-pref-height: 50px;
	-fx-effect: dropshadow(three-pass-box, #9e9e9e, 10, 0, 0, 0);
}

#buttonSignUp {
	-fx-background-color:   transparent;
	-fx-border-radius: 5px;
	-fx-border-color:  #15B7B9;
	-fx-text-fill: #15B7B9;
	-fx-font-family: rockwell;
	-fx-font-size: 18px;
	-fx-pref-width: 300px;
	-fx-pref-height: 50px;
}

#buttonSignIn:hover {
	-fx-background-color: #13A8A9;
}

#buttonSignIn:pressed {
	-fx-background-color: #109192;
}

#buttonSignUp:hover {
	-fx-background-color: #EFF9F9;
}

#buttonSignUp:pressed {
	-fx-background-color: #E4F6F7;
}

.text-field{
	-fx-background-color: #FFFFFF;
	-fx-border-color:  #ABB2B9;
	-fx-border-radius: 5px;
	-fx-padding:  0px 20px 0px 40px;
}
